# 1. 필요 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
plt.rc('font',family='Malgun Gothic')
import seaborn as sns
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# 2. 데이터 불러오기

In [2]:
rental_2019 = pd.read_csv('G:/공유 드라이브/빅분기C조/ju_notes/data/#4. 공공자전거_대여이력_정보/rental_data_2019.csv', encoding='cp949')

In [3]:
rental_2019.head()

,Unnamed: 0,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,return_rack,rental_time,rental_distance
0,0,SPB-10632,2019-01-01 00:00:44,1421,신내역 4번출구,3,2019-01-01 00:03:53,1420,신내어울공원 앞,13,2,580.0
1,1,SPB-10957,2019-01-01 00:02:16,1408,먹골역 6번출구 앞,3,2019-01-01 00:07:07,1433,중화역 2번출구,4,4,1020.0
2,2,SPB-16067,2019-01-01 00:04:12,347,동대문역사문화공원역 9번출구 앞,17,2019-01-01 00:07:07,387,훈련원공원주차장 앞,1,2,550.0
3,3,SPB-17170,2019-01-01 00:03:09,615,용두동 래미안허브리츠아파트 앞,4,2019-01-01 00:07:27,612,시립동부병원 앞 사거리,14,3,700.0
4,4,SPB-14130,2019-01-01 00:01:44,1177,수명중?고교,7,2019-01-01 00:08:09,1152,마곡역교차로,1,5,1090.0

In [4]:
rental_2019.drop(['Unnamed: 0', 'bike_no', 'rental_rack', 'return_rack'], axis=1, inplace=True)

In [5]:
rental_2019.head()

,rental_date,rental_loc_no,rental_loc_name,return_date,return_loc_no,return_loc_name,rental_time,rental_distance
0,2019-01-01 00:00:44,1421,신내역 4번출구,2019-01-01 00:03:53,1420,신내어울공원 앞,2,580.0
1,2019-01-01 00:02:16,1408,먹골역 6번출구 앞,2019-01-01 00:07:07,1433,중화역 2번출구,4,1020.0
2,2019-01-01 00:04:12,347,동대문역사문화공원역 9번출구 앞,2019-01-01 00:07:07,387,훈련원공원주차장 앞,2,550.0
3,2019-01-01 00:03:09,615,용두동 래미안허브리츠아파트 앞,2019-01-01 00:07:27,612,시립동부병원 앞 사거리,3,700.0
4,2019-01-01 00:01:44,1177,수명중?고교,2019-01-01 00:08:09,1152,마곡역교차로,5,1090.0

In [54]:
# 강남구
2301-2337, 2339-2344, 2347-2365, 2368-2373, 2375-2377, 2380-2396, 2398, 2401, 2403-2423, 2425-2431, 
3602-3604, 3606, 3609-3612, 3614-3616, 3618, 3620-3624, 3627-3630, 3634, 3636-3638, 3640

# 은평구
4652-4654, 4657-4659, 4663, 4665, 4667-4668, 4671-4672, 4674, 4676-4677, 900-909, 911-917, 919, 921-925, 
927-928, 930-934, 937-939, 941-943, 945-950, 952-954, 956, 958-969, 971-979, 982, 984-985, 989, 991-996

(-1, -4, -2, -2, -5, -2, 956, -11, -8, 982, -1, 989, -5)

# 강남구

In [55]:
# 강남구
'''2301-2337, 2339-2344, 2347-2365, 2368-2373, 2375-2377, 2380-2396, 2398, 2401, 2403-2423, 2425-2431, 
3602-3604, 3606, 3609-3612, 3614-3616, 3618, 3620-3624, 3627-3630, 3634, 3636-3638, 3640'''

crit_GN = ((rental_2019.rental_loc_no>=2301) & (rental_2019.rental_loc_no <=2337))\
|((rental_2019.rental_loc_no>=2339) & (rental_2019.rental_loc_no <=2344))\
|((rental_2019.rental_loc_no>=2347) & (rental_2019.rental_loc_no <=2365))\
|((rental_2019.rental_loc_no>=2368) & (rental_2019.rental_loc_no <=2373))\
|((rental_2019.rental_loc_no>=2375) & (rental_2019.rental_loc_no <=2377))\
|((rental_2019.rental_loc_no>=2380) & (rental_2019.rental_loc_no <=2396))\
|(rental_2019.rental_loc_no==2398)\
|(rental_2019.rental_loc_no==2401)\
|((rental_2019.rental_loc_no>=2403) & (rental_2019.rental_loc_no <=2423))\
|((rental_2019.rental_loc_no>=2425) & (rental_2019.rental_loc_no <=2431))\
|((rental_2019.rental_loc_no>=3602) & (rental_2019.rental_loc_no <=360))\
|(rental_2019.rental_loc_no==3606)\
|((rental_2019.rental_loc_no>=3609) & (rental_2019.rental_loc_no <=3612))\
|((rental_2019.rental_loc_no>=3614) & (rental_2019.rental_loc_no <=3616))\
|(rental_2019.rental_loc_no==3618)\
|((rental_2019.rental_loc_no>=3620) & (rental_2019.rental_loc_no <=3624))\
|((rental_2019.rental_loc_no>=3627) & (rental_2019.rental_loc_no <=3630))\
|(rental_2019.rental_loc_no==3634)\
|((rental_2019.rental_loc_no>=3636) & (rental_2019.rental_loc_no <=3638))\
|(rental_2019.rental_loc_no==3640)\

In [56]:
GN = rental_2019[crit_GN]

In [81]:
GN2 = GN.copy()

In [82]:
GN2.drop(['rental_date', 'return_date', 'rental_time', 'rental_distance', 'rental_loc_no', 'return_loc_no'], axis=1, inplace=True)

In [83]:
GN2

                 rental_loc_name           return_loc_name
20                  강남구청역 2번출구 뒤         신영 ROYAL PALACE 앞
52                     삼성역 3번 출구            천주교 대치 2동 교회 옆
58                     삼성역 3번 출구            천주교 대치 2동 교회 옆
80                    삼성동베이직하우스앞              포스코사거리(기업은행)
87           삼성중앙역4번출구(문화센터더 리빌)  교보타워 버스정류장(신논현역 3번출구 후면)
...                          ...                       ...
18485820  구룡마을 입구 (래미안블레스티지 아파트)              도곡역 대치지구대 방향
18485907                 대치역 사거리                   대치역 사거리
18485909              수서역 1번출구 앞                수서역 5번출구 뒤
18485910              수서역 5번출구 뒤                수서역 5번출구 뒤
18485950           압구정 한양 3차 아파트              건대입구역 5번출구 뒤

[787704 rows x 2 columns]

In [84]:
# 최종파일
GN2.to_csv('GN.csv', encoding='cp949', index=False)

In [86]:
import csv

def pairing(source):
    result = []
    for item1 in range(len(source)):
        for item2 in range(item1+1, len(source)):
            result.append([source[item1], source[item2]])
    return result

filename = 'GN.csv'

f = open (filename, 'r')

csv_f = csv.reader(f, quoting=csv.QUOTE_ALL)

temp_list = []
for row in csv_f:
    row = [var for var in row if var]
    temp_list.append(pairing(row))

final_list = []
for itemlist in temp_list:
    for item in itemlist:
        final_list.append(item)

new_filename = "done_" + filename

with open(new_filename, 'w') as csvfile:
    rowwriter = csv.writer(csvfile, delimiter=',', quotechar=' ')
    for row in final_list:
        rowwriter.writerow(row)

In [10]:
# 강남구
'''2301-2337, 2339-2344, 2347-2365, 2368-2373, 2375-2377, 2380-2396, 2398, 2401, 2403-2423, 2425-2431, 
3602-3604, 3606, 3609-3612, 3614-3616, 3618, 3620-3624, 3627-3630, 3634, 3636-3638, 3640'''

crit_GN = (((rental_2019.rental_loc_no & rental_2019.return_loc_no) >=2301) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2337))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=2339) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2344))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=2347) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2365))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=2368) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2373))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=2375) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2377))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=2380) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2396))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==2398)\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==2401)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=2403) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2423))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=2425) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=2431))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=3602) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=360))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==3606)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=3609) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=3612))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=3614) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=3616))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==3618)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=3620) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=3624))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=3627) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=3630))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==3634)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=3636) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=3638))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==3640)\

In [11]:
GN3 = rental_2019[crit_GN]

In [12]:
GN4 = GN3.copy()

In [13]:
GN4.drop(['rental_date', 'return_date', 'rental_time', 'rental_distance', 'rental_loc_no', 'return_loc_no'], axis=1, inplace=True)

In [14]:
GN4

         rental_loc_name    return_loc_name
20          강남구청역 2번출구 뒤  신영 ROYAL PALACE 앞
52             삼성역 3번 출구     천주교 대치 2동 교회 옆
58             삼성역 3번 출구     천주교 대치 2동 교회 옆
80            삼성동베이직하우스앞       포스코사거리(기업은행)
110           삼성동베이직하우스앞         삼성동베이직하우스앞
...                  ...                ...
18485907         대치역 사거리            대치역 사거리
18485909      수서역 1번출구 앞         수서역 5번출구 뒤
18485910      수서역 5번출구 뒤         수서역 5번출구 뒤
18485922      신사역 4번출구 뒤        신사동 가로수길 입구
18485950   압구정 한양 3차 아파트       건대입구역 5번출구 뒤

[491310 rows x 2 columns]

In [17]:
# 최종파일
GN4.to_csv('GN4.csv', encoding='cp949', index=False)

In [30]:
import csv

def pairing(source):
    result = []
    for item1 in range(len(source)):
        for item2 in range(item1+1, len(source)):
            result.append([source[item1], source[item2]])
    return result

filename = 'GN4.csv'

f = open (filename, 'r')

csv_f = csv.reader(f, quoting=csv.QUOTE_ALL)

temp_list = []
for row in csv_f:
    row = [var for var in row if var]
    temp_list.append(pairing(row))

final_list = []
for itemlist in temp_list:
    for item in itemlist:
        final_list.append(item)

new_filename = "gephi1_" + filename

with open(new_filename, 'w') as csvfile:
    rowwriter = csv.writer(csvfile, delimiter=',', quotechar=' ')
    for row in final_list:
        rowwriter.writerow(row)

# 은평구

In [20]:
# 은평구
'''4652-4654, 4657-4659, 4663, 4665, 4667-4668, 4671-4672, 4674, 4676-4677, 900-909, 911-917, 919, 921-925, 
927-928, 930-934, 937-939, 941-943, 945-950, 952-954, 956, 958-969, 971-979, 982, 984-985, 989, 991-996'''

crit_EP = (((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=4652) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no) <=4654))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=4657) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no) <=4659))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==4663)\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==4665)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=4667) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=4668))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=4671) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=4672))\
|((rental_2019.rental_loc_no& rental_2019.return_loc_no)==4674)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=4676) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=4677))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=900) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no) <=909))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=911) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=917))\
|((rental_2019.rental_loc_no& rental_2019.return_loc_no)==919)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=921) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=925))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=927) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=928))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=930) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=934))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=937) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no) <=939))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=941) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=943))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=945) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=950))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=952) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=954))\
|((rental_2019.rental_loc_no& rental_2019.return_loc_no)==956)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=958) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=969))\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=971) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=979))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==982)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=984) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=985))\
|((rental_2019.rental_loc_no & rental_2019.return_loc_no)==989)\
|(((rental_2019.rental_loc_no & rental_2019.return_loc_no)>=991) & ((rental_2019.rental_loc_no & rental_2019.return_loc_no)<=996))\

In [21]:
EP3 = rental_2019[crit_EP]

In [22]:
EP4 = EP3.copy()

In [23]:
EP4.drop(['rental_date', 'return_date', 'rental_time', 'rental_distance', 'rental_loc_no', 'return_loc_no'], axis=1, inplace=True)

In [24]:
EP4

           rental_loc_name      return_loc_name
31               역촌역 1번 출구            구산역 2번 출구
114        암사역 3번출구(국민은행앞)  광진교 남단 사거리(디지털프라자앞)
211               불광역 8번출구                 예일여중
221       연신내역 5번출구150M 아래          역촌 센트레빌 아파트
385                CJ 드림시티              CJ 드림시티
...                    ...                  ...
18485697        연신내역 1번 출구       연신내 선일하이츠빌 정류소
18485863        은평뉴타운 아이파크        신한은행 응암동 지점 앞
18485896    연신내 선일하이츠빌 정류소               신도고등학교
18485923  연신내역 5번출구150M 아래     연신내역 5번출구150M 아래
18485931       역촌 센트레빌 아파트          역촌 센트레빌 아파트

[290878 rows x 2 columns]

In [25]:
# 최종파일
EP4.to_csv('EP4.csv', encoding='cp949', index=False)

In [27]:
import csv

def pairing(source):
    result = []
    for item1 in range(len(source)):
        for item2 in range(item1+1, len(source)):
            result.append([source[item1], source[item2]])
    return result

filename = 'EP4.csv'

f = open (filename, 'r')

csv_f = csv.reader(f, quoting=csv.QUOTE_ALL)

temp_list = []
for row in csv_f:
    row = [var for var in row if var]
    temp_list.append(pairing(row))

final_list = []
for itemlist in temp_list:
    for item in itemlist:
        final_list.append(item)

new_filename = "done_" + filename

with open(new_filename, 'w') as csvfile:
    rowwriter = csv.writer(csvfile, delimiter=',', quotechar=' ')
    for row in final_list:
        rowwriter.writerow(row)

In [ ]:
# 은평구
'''4652-4654, 4657-4659, 4663, 4665, 4667-4668, 4671-4672, 4674, 4676-4677, 900-909, 911-917, 919, 921-925, 
927-928, 930-934, 937-939, 941-943, 945-950, 952-954, 956, 958-969, 971-979, 982, 984-985, 989, 991-996'''

crit_EP = ((rental_2019.rental_loc_no>=4652) & (rental_2019.rental_loc_no <=4654))\
|((rental_2019.rental_loc_no>=4657) & (rental_2019.rental_loc_no <=4659))\
|(rental_2019.rental_loc_no==4663)\
|(rental_2019.rental_loc_no==4665)\
|((rental_2019.rental_loc_no>=4667) & (rental_2019.rental_loc_no <=4668))\
|((rental_2019.rental_loc_no>=4671) & (rental_2019.rental_loc_no <=4672))\
|(rental_2019.rental_loc_no==4674)\
|((rental_2019.rental_loc_no>=4676) & (rental_2019.rental_loc_no <=4677))\
|((rental_2019.rental_loc_no>=900) & (rental_2019.rental_loc_no <=909))\
|((rental_2019.rental_loc_no>=911) & (rental_2019.rental_loc_no <=917))\
|(rental_2019.rental_loc_no==919)\
|((rental_2019.rental_loc_no>=921) & (rental_2019.rental_loc_no <=925))\
|((rental_2019.rental_loc_no>=927) & (rental_2019.rental_loc_no <=928))\
|((rental_2019.rental_loc_no>=930) & (rental_2019.rental_loc_no <=934))\
|((rental_2019.rental_loc_no>=937) & (rental_2019.rental_loc_no <=939))\
|((rental_2019.rental_loc_no>=941) & (rental_2019.rental_loc_no <=943))\
|((rental_2019.rental_loc_no>=945) & (rental_2019.rental_loc_no <=950))\
|((rental_2019.rental_loc_no>=952) & (rental_2019.rental_loc_no <=954))\
|(rental_2019.rental_loc_no==956)\
|((rental_2019.rental_loc_no>=958) & (rental_2019.rental_loc_no <=969))\
|((rental_2019.rental_loc_no>=971) & (rental_2019.rental_loc_no <=979))\
|(rental_2019.rental_loc_no==982)\
|((rental_2019.rental_loc_no>=984) & (rental_2019.rental_loc_no <=985))\
|(rental_2019.rental_loc_no==989)\
|((rental_2019.rental_loc_no>=991) & (rental_2019.rental_loc_no <=996))\

In [ ]:
EP = rental_2019[crit_EP]

In [ ]:
EP2 = EP.copy()

In [ ]:
EP2.drop(['rental_date', 'return_date', 'rental_time', 'rental_distance', 'rental_loc_no', 'return_loc_no'], axis=1, inplace=True)

In [ ]:
EP2

In [ ]:
# 최종파일
EP2.to_csv('EP.csv', encoding='cp949', index=False)

In [ ]:
import csv

def pairing(source):
    result = []
    for item1 in range(len(source)):
        for item2 in range(item1+1, len(source)):
            result.append([source[item1], source[item2]])
    return result

filename = 'EP.csv'

f = open (filename, 'r')

csv_f = csv.reader(f, quoting=csv.QUOTE_ALL)

temp_list = []
for row in csv_f:
    row = [var for var in row if var]
    temp_list.append(pairing(row))

final_list = []
for itemlist in temp_list:
    for item in itemlist:
        final_list.append(item)

new_filename = "done_" + filename

with open(new_filename, 'w') as csvfile:
    rowwriter = csv.writer(csvfile, delimiter=',', quotechar=' ')
    for row in final_list:
        rowwriter.writerow(row)

# 강남구 + 은평구

In [59]:
GN_EP = pd.concat([GN, EP])

In [60]:
GN_EP

,rental_date,rental_loc_no,rental_loc_name,return_date,return_loc_no,return_loc_name,rental_time,rental_distance
20,2019-01-01 00:09:48,2353,강남구청역 2번출구 뒤,2019-01-01 00:15:04,2304,신영 ROYAL PALACE 앞,4,810.0
52,2019-01-01 00:16:10,2322,삼성역 3번 출구,2019-01-01 00:23:02,2324,천주교 대치 2동 교회 옆,6,1180.0
58,2019-01-01 00:14:29,2322,삼성역 3번 출구,2019-01-01 00:23:17,2324,천주교 대치 2동 교회 옆,8,1060.0
80,2019-01-01 00:20:36,2380,삼성동베이직하우스앞,2019-01-01 00:27:07,2348,포스코사거리(기업은행),6,1420.0
87,2019-01-01 00:13:44,2318,삼성중앙역4번출구(문화센터더 리빌),2019-01-01 00:27:30,2302,교보타워 버스정류장(신논현역 3번출구 후면),13,3140.0
...,...,...,...,...,...,...,...,...
18485697,2019-12-31 23:47:34,949,연신내역 1번 출구,2019-12-31 23:49:27,947,연신내 선일하이츠빌 정류소,1,360.0
18485863,2019-12-31 23:25:25,903,은평뉴타운 아이파크,2020-01-01 00:11:21,958,신한은행 응암동 지점 앞,42,6200.0
18485896,2019-12-31 23:54:38,947,연신내 선일하이츠빌 정류소,2020-01-01 00:22:21,921,신도고등학교,26,3350.0
18485923,2019-12-31 23:52:48,906,연신내역 5번출구150M 아래,2020-01-01 00:40:00,906,연신내역 5번출구150M 아래,46,1950.0
18485931,2019-12-31 22:49:34,971,역촌 센트레빌 아파트,2020-01-01 00:49:44,971,역촌 센트레빌 아파트,104,2070.0

In [61]:
GN_EP2 = GN_EP.copy()

In [62]:
GN_EP2

,rental_date,rental_loc_no,rental_loc_name,return_date,return_loc_no,return_loc_name,rental_time,rental_distance
20,2019-01-01 00:09:48,2353,강남구청역 2번출구 뒤,2019-01-01 00:15:04,2304,신영 ROYAL PALACE 앞,4,810.0
52,2019-01-01 00:16:10,2322,삼성역 3번 출구,2019-01-01 00:23:02,2324,천주교 대치 2동 교회 옆,6,1180.0
58,2019-01-01 00:14:29,2322,삼성역 3번 출구,2019-01-01 00:23:17,2324,천주교 대치 2동 교회 옆,8,1060.0
80,2019-01-01 00:20:36,2380,삼성동베이직하우스앞,2019-01-01 00:27:07,2348,포스코사거리(기업은행),6,1420.0
87,2019-01-01 00:13:44,2318,삼성중앙역4번출구(문화센터더 리빌),2019-01-01 00:27:30,2302,교보타워 버스정류장(신논현역 3번출구 후면),13,3140.0
...,...,...,...,...,...,...,...,...
18485697,2019-12-31 23:47:34,949,연신내역 1번 출구,2019-12-31 23:49:27,947,연신내 선일하이츠빌 정류소,1,360.0
18485863,2019-12-31 23:25:25,903,은평뉴타운 아이파크,2020-01-01 00:11:21,958,신한은행 응암동 지점 앞,42,6200.0
18485896,2019-12-31 23:54:38,947,연신내 선일하이츠빌 정류소,2020-01-01 00:22:21,921,신도고등학교,26,3350.0
18485923,2019-12-31 23:52:48,906,연신내역 5번출구150M 아래,2020-01-01 00:40:00,906,연신내역 5번출구150M 아래,46,1950.0
18485931,2019-12-31 22:49:34,971,역촌 센트레빌 아파트,2020-01-01 00:49:44,971,역촌 센트레빌 아파트,104,2070.0

In [63]:
GN_EP2.drop(['rental_date', 'return_date', 'rental_time', 'rental_distance', 'rental_loc_no', 'return_loc_no'], axis=1, inplace=True)

In [64]:
GN_EP2

              rental_loc_name           return_loc_name
20               강남구청역 2번출구 뒤         신영 ROYAL PALACE 앞
52                  삼성역 3번 출구            천주교 대치 2동 교회 옆
58                  삼성역 3번 출구            천주교 대치 2동 교회 옆
80                 삼성동베이직하우스앞              포스코사거리(기업은행)
87        삼성중앙역4번출구(문화센터더 리빌)  교보타워 버스정류장(신논현역 3번출구 후면)
...                       ...                       ...
18485697           연신내역 1번 출구            연신내 선일하이츠빌 정류소
18485863           은평뉴타운 아이파크             신한은행 응암동 지점 앞
18485896       연신내 선일하이츠빌 정류소                    신도고등학교
18485923     연신내역 5번출구150M 아래          연신내역 5번출구150M 아래
18485931          역촌 센트레빌 아파트               역촌 센트레빌 아파트

[1308814 rows x 2 columns]

In [66]:
GN_EP.to_csv('GN_EP.csv', encoding='cp949', index=False)

In [65]:
# 최종파일
GN_EP2.to_csv('GN_EP_2.csv', encoding='cp949', index=False)

In [75]:
import csv

def pairing(source):
    result = []
    for item1 in range(len(source)):
        for item2 in range(item1+1, len(source)):
            result.append([source[item1], source[item2]])
    return result

filename = 'GN_EP_3.csv'

f = open (filename, 'r')

csv_f = csv.reader(f, quoting=csv.QUOTE_ALL)

temp_list = []
for row in csv_f:
    row = [var for var in row if var]
    temp_list.append(pairing(row))

final_list = []
for itemlist in temp_list:
    for item in itemlist:
        final_list.append(item)

new_filename = "done_" + filename

with open(new_filename, 'w') as csvfile:
    rowwriter = csv.writer(csvfile, delimiter=',', quotechar=' ')
    for row in final_list:
        rowwriter.writerow(row)