In [1]:
# 데이터 로드
import pandas as pd

log19 = pd.read_csv('data/공공자전거_대여이력_정보/rental_data_2019.csv', encoding='cp949', index_col=0)
log20 = pd.read_csv('data/공공자전거_대여이력_정보/rental_data_2020.csv', encoding='cp949', index_col=0)
log21 = pd.read_csv('data/공공자전거_대여이력_정보/rental_data_2021.csv', encoding='cp949', index_col=0)

ride19 = pd.read_csv('data/공공자전거_이용정보(시간대별)/ride_data_2019.csv', encoding='cp949', index_col=0)
ride20 = pd.read_csv('data/공공자전거_이용정보(시간대별)/ride_data_2020.csv', encoding='cp949', index_col=0)
ride21 = pd.read_csv('data/공공자전거_이용정보(시간대별)/ride_data_2021.csv', encoding='cp949', index_col=0)

C:\Users\jomin\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\jomin\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# 대여이력 및 이용정보 로드 확인
log19.head()

,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,return_rack,rental_time,rental_distance
0,SPB-10632,2019-01-01 00:00:44,1421,신내역 4번출구,3,2019-01-01 00:03:53,1420,신내어울공원 앞,13,2,580.0
1,SPB-10957,2019-01-01 00:02:16,1408,먹골역 6번출구 앞,3,2019-01-01 00:07:07,1433,중화역 2번출구,4,4,1020.0
2,SPB-16067,2019-01-01 00:04:12,347,동대문역사문화공원역 9번출구 앞,17,2019-01-01 00:07:07,387,훈련원공원주차장 앞,1,2,550.0
3,SPB-17170,2019-01-01 00:03:09,615,용두동 래미안허브리츠아파트 앞,4,2019-01-01 00:07:27,612,시립동부병원 앞 사거리,14,3,700.0
4,SPB-14130,2019-01-01 00:01:44,1177,수명중?고교,7,2019-01-01 00:08:09,1152,마곡역교차로,1,5,1090.0

In [6]:
ride19.head()

,date,time,location_num,location_name,rental_code,sex,age,usage,calories,carbon,distance,usage_time
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7

In [3]:
display(log19.info())
display(log20.info())
display(log21.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18485953 entries, 0 to 18485952
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   bike_no          object
 1   rental_date      object
 2   rental_loc_no    int64
 3   rental_loc_name  object
 4   rental_rack      int64
 5   return_date      object
 6   return_loc_no    int64
 7   return_loc_name  object
 8   return_rack      int64
 9   rental_time      int64
 10  rental_distance  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 1.7+ GB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17421645 entries, 0 to 17421644
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   bike_no          object
 1   rental_date      object
 2   rental_loc_no    int64
 3   rental_loc_name  object
 4   rental_rack      object
 5   return_date      object
 6   return_loc_no    object
 7   return_loc_name  object
 8   return_rack      int64
 9   rental_time      float64
 10  rental_distance  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 1.6+ GB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 806503 entries, 0 to 806502
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   bike_no          806503 non-null  object
 1   rental_date      806503 non-null  object
 2   rental_loc_no    806503 non-null  int64
 3   rental_loc_name  806503 non-null  object
 4   rental_rack      806503 non-null  int64
 5   return_date      806503 non-null  object
 6   return_loc_no    806503 non-null  int64
 7   return_loc_name  806503 non-null  object
 8   return_rack      806503 non-null  int64
 9   rental_time      806503 non-null  int64
 10  rental_distance  806503 non-null  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 73.8+ MB

None

In [4]:
# 컬럼별 누락값 확인 - 대여이력
display(log19.isnull().sum())
display(log20.isnull().sum())
display(log21.isnull().sum())

bike_no            0
rental_date        0
rental_loc_no      0
rental_loc_name    0
rental_rack        0
return_date        0
return_loc_no      0
return_loc_name    0
return_rack        0
rental_time        0
rental_distance    0
dtype: int64

bike_no              0
rental_date          0
rental_loc_no        0
rental_loc_name      0
rental_rack          0
return_date          0
return_loc_no        0
return_loc_name      0
return_rack          0
rental_time          0
rental_distance    107
dtype: int64

bike_no            0
rental_date        0
rental_loc_no      0
rental_loc_name    0
rental_rack        0
return_date        0
return_loc_no      0
return_loc_name    0
return_rack        0
rental_time        0
rental_distance    0
dtype: int64

In [15]:
# 컬럼별 누락값 확인 - 이용정보
display(ride19.isnull().sum())
display(ride20.isnull().sum())
display(ride21.isnull().sum())

date                   0
time                   0
location_num           0
location_name          0
rental_code            0
sex              7392324
age                    0
usage                  0
calories               0
carbon                 0
distance               0
usage_time             0
dtype: int64

date                   0
time                   0
location_num           0
location_name          0
rental_code            0
sex              9495988
age                    0
usage                  0
calories               0
carbon                 0
distance               0
usage_time             0
dtype: int64

date                  0
time                  0
location_num          0
location_name         0
rental_code           0
sex              317622
age                   0
usage                 0
calories              0
carbon                0
distance              0
usage_time            0
dtype: int64

### 20년 데이터 확인

In [22]:
# 대여이력 테이블의 결측치는 구분자 ',' 때문에 데이터가 밀리며 발생한 것으로 추정
log20[log20.isnull().any(axis=1)]

,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,return_rack,rental_time,rental_distance
47219,SPB-09846,2020-01-03 06:51:33,1162,"공항초등학교?풍覺?,8""",2020-01-03 06:56:34,02701,마곡나루역 5번출구 뒤편,8,4,830.0,NaN
62366,SPB-02297,2020-01-03 17:37:10,1428,원묵고등학교,6,2020-01-03 18:00:43,01428,"원묵?玆紵閨?,6""",23,0.0,NaN
64023,SPB-16990,2020-01-03 18:11:04,1986,태평양물산빌딩,5,2020-01-03 18:21:37,01916,"?막适峠閨낼?,2""",10,1570.0,NaN
81098,SPB-12017,2020-01-04 11:38:07,3509,"세종사이?測淪閨?,11""",2020-01-04 11:41:35,03518,군자역 7번출구뒤,7,3,760.0,NaN
203377,SPB-07700,2020-01-10 17:24:40,1984,"구?慣맡?,7""",2020-01-10 17:56:46,02135,신림역 5번출구,2,30,5360.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5599910,SPB-33100,2020-05-07 06:54:00,2054,삼익아파트,0,2020.5.7 8:08,2003,"사육신공?騙?,0""",74,0.0,NaN
5718158,SPB-33891,2020-05-08 15:39:00,470,"회현역 7번?瘦?,0""",2020.5.8 17:01,243,이앤씨드림타워 앞,0,83,0.0,NaN
5774659,SPB-32882,2020-05-10 15:36:00,575,중앙농협 중곡지점,0,2020.5.10 17:13,2025,"흑석역 1번?瘦?,0""",96,0.0,NaN
5801727,SPB-03653,2020-05-10 20:33:00,103,망원역 2번출구 앞,13,2020.5.10 20:56,175,"홍연2교??,5""",23,0.0,NaN
5930630,SPB-02909,2020-05-12 17:53:00,2020,장승배기역2번출구뒷편쪽,2,2020.5.12 18:18,2174,"삼성디지털?조瓚微驩프?,2""",24,2350.0,NaN

In [28]:
# 특정월의 데이터셋 문제인지 확인
log20['year_month'] = log20.rental_date.map(lambda x: x[:7])
log20.year_month.value_counts()

2020-10    2869182
2020-04    2086362
2020-11    1975137
2020-06    1755046
2020-03    1476324
2020-07    1353719
2020-09    1273048
2020-12    1185907
2020-05    1046658
2020-08     900358
2020-01     765611
2020-02     734293
Name: year_month, dtype: int64

In [30]:
# 2020년 1~5월 데이터에서 발생함
log20[log20.isnull().any(axis=1)].year_month.value_counts()

2020-04    31
2020-03    28
2020-05    18
2020-02    16
2020-01    14
Name: year_month, dtype: int64

In [32]:
# 21년 데이터는 컴마와 상관없이 잘 불러와짐
log21[log21.rental_loc_name.map(lambda x: '염창역 3, 4번' in x)]

,bike_no,rental_date,rental_loc_no,rental_loc_name,rental_rack,return_date,return_loc_no,return_loc_name,return_rack,rental_time,rental_distance
265807,SPB-53060,2021-01-01 13:35:33,773,"염창역 3, 4번 출구 사이",0,2021-01-01 13:52:36,766,신목동역 3번출구,0,17,0.00
265808,SPB-50486,2021-01-01 13:36:45,773,"염창역 3, 4번 출구 사이",0,2021-01-01 13:52:43,766,신목동역 3번출구,0,15,0.00
265809,SPB-31685,2021-01-01 14:07:18,773,"염창역 3, 4번 출구 사이",0,2021-01-01 15:00:42,2703,서울도시가스 앞,0,53,5021.16
265810,SPB-52576,2021-01-01 14:52:34,773,"염창역 3, 4번 출구 사이",0,2021-01-01 15:09:03,731,서울시 도로환경관리센터,0,16,0.00
265811,SPB-52086,2021-01-01 16:40:44,773,"염창역 3, 4번 출구 사이",0,2021-01-01 17:09:22,786,목동아파트 8단지 상가동 앞,0,28,0.00
...,...,...,...,...,...,...,...,...,...,...,...
266271,SPB-52520,2021-01-31 19:20:50,773,"염창역 3, 4번 출구 사이",0,2021-01-31 21:16:12,2420,학여울역 사거리(LG베스트샵 앞),0,115,26521.57
266272,SPB-31003,2021-01-31 21:44:18,773,"염창역 3, 4번 출구 사이",0,2021-01-31 22:04:22,2704,홈플러스(강서점),0,20,2414.25
266273,SPB-40468,2021-01-31 21:22:15,773,"염창역 3, 4번 출구 사이",0,2021-01-31 22:44:00,1169,염창역 1번 출구,0,81,21070.15
266274,SPB-32932,2021-01-31 21:38:38,773,"염창역 3, 4번 출구 사이",0,2021-01-31 22:51:20,773,"염창역 3, 4번 출구 사이",0,72,4453.74
266275,SPB-42916,2021-01-31 23:26:51,773,"염창역 3, 4번 출구 사이",0,2021-02-01 00:02:15,766,신목동역 3번출구,0,35,2102.33

In [23]:
ride20[ride20.isnull().any(axis=1)]

,date,time,location_num,location_name,rental_code,sex,age,usage,calories,carbon,distance,usage_time
0,2020-01-01,0,1044,1044. 굽은다리역,정기권,NaN,~10대,1,33.96,0.30,1280.00,6
1,2020-01-01,0,1656,1656. 중앙하이츠 아파트 입구,정기권,NaN,~10대,1,40.15,0.39,1690.00,6
2,2020-01-01,0,1337,1337. 돈암성당 옆,정기권,NaN,~10대,1,80.88,0.50,2150.00,12
3,2020-01-01,0,1984,1984. 구로구청,정기권,NaN,~10대,1,47.36,0.43,1840.00,25
4,2020-01-01,0,2601,2601. 석촌호수 서호사거리,정기권,NaN,~10대,1,29.34,0.26,1140.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...
19026005,2020-12-31,23,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),일일권,NaN,30대,1,97.86,0.53,2288.26,30
19026006,2020-12-31,23,1332,1332. 석계역 5번출구 건너편,일일권,NaN,30대,1,0.00,0.00,0.00,15
19026007,2020-12-31,23,2102,2102. 봉림교 교통섬,일일권,NaN,30대,1,58.54,0.53,2274.45,12
19026008,2020-12-31,23,1008,1008. 암사역 3번출구(국민은행앞),일일권,NaN,40대,1,98.13,0.68,2950.05,32
19026034,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9187.95,128

In [24]:
ride20.sex.isnull().sum()

9495988

In [27]:
# 성별속성 절반 가량 결측
ride20.sex.isnull().mean()

0.4991049369981712

In [26]:
# 성별 대소문자 구분되어있음 -> 전처리 함수 반영 필요
ride20.sex.value_counts()

M    5788591
F    3733586
m       4823
f       3047
Name: sex, dtype: int64