In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

ep = pd.read_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/ep_reg_loc_name.csv', encoding='cp949')
gn = pd.read_csv('/Volumes/GoogleDrive/공유 드라이브/빅분기C조/ju_notes/data/gn_reg_loc_name.csv', encoding='cp949')

In [2]:
ep.head()

         date location_name  count  season  weekday  temp
0  2019-01-01       CJ 드림시티    459  winter        1  -5.0
1  2019-01-01     LG서비스 역촌점    148  winter        1  -5.0
2  2019-01-01   구 서부경찰서 건너편     11  winter        1  -5.0
3  2019-01-01      구산역 4번출구    132  winter        1  -5.0
4  2019-01-01    구파발10단지 인근     58  winter        1  -5.0

In [5]:
ep_grouped = ep.groupby('location_name')
ep_grouped.tail()

             date   location_name  count  season  weekday  temp
19282  2019-12-19  상림마을 롯데캐슬2단지 옆     64  winter        1  -0.8
19339  2019-12-20  상림마을 롯데캐슬2단지 옆     48  winter        1  -1.1
19449  2019-12-22  상림마을 롯데캐슬2단지 옆      3  winter        0   4.1
19606  2019-12-25         금암 문화공원     66  winter        1   2.0
19661  2019-12-26         금암 문화공원     76  winter        1   2.0
...           ...             ...    ...     ...      ...   ...
19981  2019-12-31           응암오거리    484  winter        1  -7.9
19982  2019-12-31         이마트 은평점    526  winter        1  -7.9
19983  2019-12-31        증산역 4번출구    207  winter        1  -7.9
19984  2019-12-31      진관동 은빛초등학교     69  winter        1  -7.9
19985  2019-12-31         평생학습관 앞    178  winter        1  -7.9

[285 rows x 6 columns]

In [3]:
gn.head()

         date  location_name  count  season  weekday  temp
0  2019-01-01  3호선 매봉역 3번출구앞     12  winter        1  -5.0
1  2019-01-01        K+ 타워 앞     16  winter        1  -5.0
2  2019-01-01         KT선릉타워     16  winter        1  -5.0
3  2019-01-01   MCM 본사 직영점 앞     40  winter        1  -5.0
4  2019-01-01    강남 을지병원 교차로     52  winter        1  -5.0

In [4]:
ep.season.value_counts()

else      10132
summer     5146
winter     4708
Name: season, dtype: int64

In [6]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()    #model 생성
model.fit(X = heights, y = weights)

NameError: name 'heights' is not defined

In [7]:
def reg_by_season(df):
    for season in ['summer', 'winter', 'else']:
        df_reg = df.copy()
        model = LinearRegression()
        print(f'<{season}>')
        
        df_reg = df_reg[df_reg.season == season]
        y = df_reg['count'].values
        X = df_reg[['temp', 'weekday']].values
        model.fit(X,y)
        print('회귀계수')
        print(model.coef_)
        print('절편')
        print(model.intercept_)
        print('----------------' + '\n')

In [7]:
reg_by_season(gn)

<summer>
회귀계수
[-25.46629044 -60.42749454]
절편
1619.885376228207
----------------

<winter>
회귀계수
[10.35971831 30.10968018]
절편
128.7281279587879
----------------

<else>
회귀계수
[ 46.91233969 -16.15219526]
절편
125.5683904305854
----------------

In [8]:
reg_by_season(ep)

<summer>
회귀계수
[ -11.96134267 -170.68149352]
절편
1231.574808835643
----------------

<winter>
회귀계수
[11.02364895 12.43461054]
절편
161.01371496150452
----------------

<else>
회귀계수
[  39.44741414 -128.32892477]
절편
206.09293389390473
----------------